<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
              (click)="deleteSelectedItems()" [disabled]="!selectedItems || !selectedItems?.length"></button>
          </div>
        </ng-template>
      </p-toolbar>
      <p-table #dt [value]="items" [columns]="cols" responsiveLayout="scroll"
        [globalFilterFields]="['name','code','type.name','item_class']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true" currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
        [(selection)]="selectedItems" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des Articles</h5>

            <p-columnFilter field="type" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [ngModel]="value" [options]="types" placeholder="Filtrer par Type d'Articles" (onChange)="filter($event.value)" optionLabel="name">
                      <ng-template let-option pTemplate="item">
                          <div class="p-multiselect-representative-option">
                              <span class="ml-1">{{option?.name}}</span>
                          </div>
                      </ng-template>
                  </p-multiSelect>
              </ng-template>
          </p-columnFilter>

            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText Item="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Recherche..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th >
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code"><div class="flex justify-content-center text-center">Code<p-sortIcon field="code"></p-sortIcon></div>
            <th pSortableColumn="name"><div class="flex justify-content-center text-center">Nom<p-sortIcon field="name"></p-sortIcon></div>
            <th pSortableColumn="type.name"><div class="flex justify-content-center text-center">Type<p-sortIcon field="type"></p-sortIcon></div>
            <th pSortableColumn="item_class"><div class="flex justify-content-center text-center">Classe<p-sortIcon field="item_class"></p-sortIcon></div>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>

          <tr>
            <tr>
              <td>
                  <p-tableCheckbox [value]="item"></p-tableCheckbox>
              </td>
              <td><div class="flex justify-content-center text-center">{{item?.code}}</div></td>
              <td><div class="flex justify-content-center text-center">{{item?.name}}</div></td>
              <td><div class="flex justify-content-center text-center">{{item?.type?.name}}</div></td>
              <td><div class="flex justify-content-center text-center">{{item?.item_class}}</div></td>
              <td class="flex justify-content-center">
                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                (click)="editItem(item)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                (click)="deleteItem(item)"></button>
              </td>
          </tr>
        </ng-template>
        <!-- empty table message-->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">Aucun Article trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog [(visible)]="itemDialog" [style]="{width: '50%'}" header="Enregistrer Article" [modal]="true" class="p-fluid">
      <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
      <ng-template pTemplate="content">
        <form [formGroup]="myForm">
          <!-- ---hidden--- -->
          <div class="field">
            <input Item="text" hidden pInputText id="code" formControlName="id" />
          </div>
          <!-- ---type--- -->
          <div class="field">
            <label>Type*</label>
            <p-dropdown appendTo="body" [options]="types" placeholder="Sélectionner Type" optionLabel="name" [filter]="true"
            filterBy="name" [showClear]="true" formControlName="type">
            </p-dropdown>
          </div>
          <!-- ---code--- -->
          <div class="field">
            <label for="title">Code*</label>
            <input Item="text" pInputText id="code" formControlName="code" placeholder="Code de l'article" required />
            <div *ngIf="(myForm.get('code').invalid && myForm.get('code').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('required')">
                Code est obligatoire.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('pattern')">
                Code invalide.
              </small>
            </div>
          </div>
          <!-- ---title--- -->
          <div class="field">
            <label for="title">Nom*</label>
            <input Item="text" pInputText id="title" formControlName="name" placeholder="Désignation de l'article" required />
            <div *ngIf="(myForm.get('name').invalid && myForm.get('name').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('required')">
                Nom est obligatoire.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('pattern')">
                Nom invalide.
              </small>
            </div>
          </div>
          <!-- ---class--- -->
          <div class="formgrid grid mt-5">
            <div class="field col">
              <label class="col-12 mb-2 md:col-2 md:mb-0" for="class">Classe*</label>
            </div>
            <div class="field col col-12 md:col-10">
              <div *ngFor="let class of classes" class="field-checkbox">
                <p-radioButton [inputId]="class" name="item_class" [value]="class" formControlName="item_class"></p-radioButton>
                <label [for]="class">{{class}}</label>
              </div>
            </div>
        </div>
        </form>
      </ng-template>

      <p-footer>
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" [disabled]="myForm.invalid" icon="pi pi-check" class="p-button-text"
          (click)="saveItem()"></button>
      </p-footer>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="item">Supprimer <b>{{item.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
          (click)="deleteItemDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemsDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Supprimer Sélection?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
          (click)="deleteItemsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>
