<p-toast></p-toast>
<div class="card">
  <div class="px-2 py-4 md:px-5 lg:px-5 mb-3">
    <div
      class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
      <div class="mb-3 lg:mb-0">
        <div class="text-3xl font-medium text-900 mb-3">Ordres de Travaux</div>
        <div class="text-500 mr-0 md:mr-3">Consulter et gérer les ordres de travaux des marchés cadres.</div>
      </div>
    </div>
  </div>

  <p-table #dt [value]="markets" responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['code','name']"
    [paginator]="true" [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées" [rowHover]="true" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
        <h5 class="m-0"><i class="pi pi-shopping-bag mr-3"></i>Marchés Cadres</h5>
        <span class="block mt-2 md:mt-0 p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Recherche..."
            class="w-full sm:w-auto" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th pSortableColumn="code">
          <div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-center">Désignation<p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="profession">
          <div class="flex justify-content-center">Métier<p-sortIcon field="profession"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="organization">
          <div class="flex justify-content-center">Organization<p-sortIcon field="organization"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-market let-expanded="expanded">
      <tr>
        <td style="width:5%; min-width:1rem;">
          <button type="button" pButton pRipple [pRowToggler]="market"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td style="width:20%; min-width:10rem;">
          <span class="p-column-title">Code</span>
          <div class="flex justify-content-center">{{market?.code}}</div>
        </td>
        <td style="width:20%; min-width:10rem;">
          <span class="p-column-title">Désignation</span>
          <div class="flex justify-content-center">{{market?.name}}</div>
        </td>
        <td style="width:20%; min-width:10rem;">
          <span class="p-column-title">Métier</span>
          <div class="flex justify-content-center">{{market?.profession?.name}}</div>
        </td>
        <td style="width:20%; min-width:10rem;">
          <span class="p-column-title">Organisation</span>
          <div class="flex justify-content-center">{{market?.organization?.name}}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-market>
      <tr>
        <td colspan="7">
          <div class="p-3">
            <p-table [value]="market?.purchaseOrders" dataKey="id">
              <ng-template pTemplate="caption">
                Bon de Commandes
              </ng-template>
              <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="code">
          <div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="amount">
          <div class="flex justify-content-center">Montant<p-sortIcon field="amount"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="limit">
          <div class="flex justify-content-center">Delais<p-sortIcon field="limit"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="startDate">
          <div class="flex justify-content-center">Date Debut Travaux<p-sortIcon field="startDate"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex justify-content-center"></div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-purchaseOrder>
      <tr>
        <td style="width:10%; min-width:2rem;">
          <span class="p-column-title">Code</span>
          <div class="flex justify-content-center">{{purchaseOrder?.code}}</div>
        </td>
        <td style="width:20%; min-width:10rem;">
          <span class="p-column-title">Montant</span>
          <div class="flex justify-content-center">{{purchaseOrder?.amount}}</div>
        </td>
        <td style="width:15%; min-width:10rem;">
          <span class="p-column-title">Delais</span>
          <div class="flex justify-content-center">{{purchaseOrder?.limit}}</div>
        </td>
        <td style="width:30%; min-width:10rem;">
          <span class="p-column-title">Date Debut Travaux</span>
          <div class="flex justify-content-center">{{purchaseOrder?.startDate | date:'dd/LL/yyyy'}}</div>
        </td>
        <td style="width:30%; min-width:10rem;">
          <span class="p-column-title"></span>
          <div class="flex justify-content-center"><button (click)="viewOrder(purchaseOrder?.id,market)" pButton pRipple
              type="button" label="Gérer OT" icon="pi pi-plus"
              class="p-button-raised p-button-text p-button-plain p-button-success"></button></div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6">Aucun Bon de Commande trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
</div>

<!----------------------purchase Orders dialog-------------- -->
<p-dialog [(visible)]="purchaseOrdersDialog" header="Bon de Commande" [modal]="false" [style]="{width:'70%'}">
  <ng-template pTemplate="content">
    <div>
      <div class="text-500 mb-2">Morbi tristique blandit turpis. In viverra ligula id nulla hendrerit rutrum.</div>
      <div class="surface-section">
        <ul class="list-none p-0 m-0">
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-3 font-medium">Code</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">
              <p-chip [label]="order?.code"></p-chip>
            </div>
          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-6 md:w-3 font-medium">Date Debut Travaux</div>
            <div class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1">{{order?.startDate | date:'dd/LL/yyyy'}}
            </div>

          </li>
          <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
            <div class="text-500 w-3 font-medium">Montant</div>
            <div class="text-900 w-3 md:flex-order-0 flex-order-1">{{order?.amount + " " + market?.unit}}</div>
            <div class="text-500 w-2 font-medium">Délais</div>
            <div class="text-900 w-3 md:flex-order-0 flex-order-1">{{order?.limit}} Jours</div>
          </li>
        </ul>
      </div>
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-sitemap mr-1"></i>
            <span>Ordres de Travaux</span>
            <p-badge class="ml-2" [value]="workOrders?.length"></p-badge>
          </ng-template>
          <p-toolbar styleClass="mt-1">
            <ng-template pTemplate="left">
              <div>
                <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                  (click)="openNew()"></button>
                <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
                  (click)="deleteSelectedWorkOrders()"
                  [disabled]="!selectedWorkOrders|| !selectedWorkOrders?.length"></button>
              </div>
            </ng-template>
          </p-toolbar>
          <p-table #dt [value]="workOrders" responsiveLayout="scroll" [globalFilterFields]="['code']" [rows]="10"
            [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
            [(selection)]="selectedWorkOrders" selectionMode="multiple" [rowHover]="true" dataKey="id">
            <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Gestion des Ordres de Travaux</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText Item="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche..." />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 3rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="code">
                  <div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon>
                  </div>
                <th pSortableColumn="orderDate">
                  <div class="flex justify-content-center">Date d'Ordre<p-sortIcon field="orderDate"></p-sortIcon>
                  </div>
                <th pSortableColumn="startDate">
                  <div class="flex justify-content-center">Date de Début<p-sortIcon field="startDate"></p-sortIcon>
                  </div>
                <th pSortableColumn="limit">
                  <div class="flex justify-content-center">Délai<p-sortIcon field="limit"></p-sortIcon>
                  </div>
                <th pSortableColumn="amount">
                  <div class="flex justify-content-center">Montant<p-sortIcon field="amount"></p-sortIcon>
                  </div>
                </th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-workOrder>
              <tr>
              <tr>
                <td>
                  <p-tableCheckbox [value]="workOrder"></p-tableCheckbox>
                </td>
                <td style="width:35%; min-width:10rem;">
                  <span class="p-column-title">code</span>
                  <div class="flex justify-content-center text-center">{{workOrder?.code}}</div>
                </td>
                <td style="width:35%; min-width:10rem;">
                  <span class="p-column-title">orderDate</span>
                  <div class="flex justify-content-center text-center">{{workOrder?.orderDate | date: 'dd/MM/yyyy hh:mma'}}</div>
                </td>
                <td style="width:35%; min-width:10rem;">
                  <span class="p-column-title">startDate</span>
                  <div class="flex justify-content-center text-center">{{workOrder?.startDate | date: 'dd/MM/yyyy'}}
                  </div>
                </td>
                <td style="width:35%; min-width:10rem;">
                  <span class="p-column-title">limit</span>
                  <div class="flex justify-content-center text-center">{{workOrder?.limit}}</div>
                </td>
                <td style="width:35%; min-width:10rem;">
                  <span class="p-column-title">amount</span>
                  <div class="flex justify-content-center text-center">{{workOrder?.amount}}</div>
                </td>
                <td style="width:30%; min-width:10rem;">
                  <div class="flex justify-content-center text-center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                      (click)="editWorkOrder(workOrder)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                      (click)="deleteWorkOrder(workOrder)"></button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <!-- empty table message-->
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-center">Aucun Ordre de Travail trouvé.</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <i class="pi pi-clone mr-1"></i>
            <span>Articles</span>
            <p-badge class="ml-2" [value]="order?.itemsUsed?.length"></p-badge>
          </ng-template>

          <p-table #dt2 [value]="order?.itemsUsed" [paginator]="true" responsiveLayout="scroll"
            responsiveLayout="scroll" [rows]="5" [globalFilterFields]="['item.name']" [paginator]="true"
            [rowsPerPageOptions]="[5,10]" [showCurrentPageReport]="true"
            currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées" dataKey="id">
            <ng-template pTemplate="caption">
              <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Liste des Articles</h5>
                <span class="block mt-2 md:mt-0 p-input-icon-left">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                    placeholder="Recherche..." />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Image</th>
                <th pSortableColumn="name">Article <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Quantité <p-sortIcon field="price"></p-sortIcon>
                </th>
                <th pSortableColumn="price">Prix <p-sortIcon field="price"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-usedItem>
              <tr>
                <td style="width: 15%; min-width: 5rem;">
                  <img src="assets/layout/images/ps.png" class="shadow-4" alt="{{usedItem?.name}}" width="50">
                </td>
                <td style="width: 35%; min-width: 7rem;">{{usedItem?.item?.name}}</td>
                <td style="width: 35%; min-width: 7rem;">{{usedItem?.quantity}}</td>
                <td style="width: 35%; min-width: 8rem;">{{usedItem?.price | currency:market?.unit}}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Fermer"
      (click)="hidePurchaseOrdersDialog()"></button>
  </ng-template>
</p-dialog>

<!----------------------work Order dialog-------------- -->
<p-dialog [(visible)]="workOrderDialog" [style]="{width: '50%'}" header="Enregistrer Ordre de Travail" [modal]="true"
  class="p-fluid">
  <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
  <ng-template pTemplate="content">
    <form [formGroup]="myForm">
      <!-- ---hidden--- -->
      <div class="field">
        <input Item="text" hidden pInputText id="code" formControlName="id" />
      </div>
      <!-- ---code--- -->
      <div class="field">
        <label for="title">Code *</label>
        <input Item="text" pInputText id="code" formControlName="code" placeholder="Code Ordre de Travail" required />
        <div *ngIf="(myForm.get('code').invalid && myForm.get('code').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('required')">
            Code est obligatoire.
          </small>
          <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('pattern')">
            Code invalide.
          </small>
        </div>
      </div>
      <div class="field">
        <label for="startDate">Date Début *</label>
        <p-calendar id="startDate" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true"
          placeholder="jj/MM/aaaa" formControlName="startDate"></p-calendar>
        <div *ngIf="(myForm.get('startDate').invalid && myForm.get('startDate').dirty)">
          <small class="ng-dirty ng-invalid" *ngIf="myForm.get('startDate').hasError('startDate')">Date Début est
            obligatoire.</small>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col">
          <label for="amount">Montant *</label>
          <p-inputNumber formControlName="amount" [showButtons]="true" buttonLayout="horizontal" inputId="amount"
            spinnerMode="horizontal" [step]="0.5" mode="currency" [currency]="market?.unit"
            placeholder="Montant en {{market?.unit}}" decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
          </p-inputNumber>
        </div>
        <div class="field col">
          <label for="limit">Délais *</label>
          <p-inputNumber inputId="limit" mode="decimal" [showButtons]="true" [min]="0" suffix=" Jours"
            formControlName="limit" placeholder="Délais en Jour">
          </p-inputNumber>
        </div>
      </div>
    </form>
  </ng-template>

  <p-footer>
    <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Enregistrer" [disabled]="myForm.invalid" icon="pi pi-check" class="p-button-text"
      (click)="saveWorkOrder()"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="deleteWorkOrderDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="workOrder">Supprimer <b>{{workOrder?.name}}</b>?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
      (click)="deleteWorkOrderDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteWorkOrdersDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Supprimer Sélection?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
      (click)="deleteWorkOrdersDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer"
      (click)="confirmDeleteSelected()"></button>
  </ng-template>
</p-dialog>
