<p-toast></p-toast>
<div>

  <div class="card mb-4">
    <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
        <a class="text-500 no-underline line-height-3 cursor-pointer">MyCPM</a>
      </li>
      <li class="px-2">
        <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
        <span class="text-900 line-height-3">Ordres de Travaux</span>
      </li>
    </ul>
    <div class="flex align-items-start flex-column lg:justify-content-between lg:flex-row">
      <div>
        <div class="font-medium text-3xl text-900">Bon de Commande : {{order?.code}}</div>
        <div class="flex align-items-center text-700 flex-wrap">
          <div class="mr-5 flex align-items-center mt-3">
            <i class="pi pi-calendar mr-2"></i>
            <span>Date Debut Travaux : {{order?.startDate | date:'dd/LL/yyyy'}}</span>
          </div>
          <div class="mr-5 flex align-items-center mt-3">
            <i class="pi pi-money-bill mr-2"></i>
            <span>Montant : {{order?.amount + " " }} {{this.market?.unit}}</span>
          </div>
          <div class="flex align-items-center mt-3">
            <i class="pi pi-send mr-2"></i>
            <span>Délais : {{order?.limit}} Jours</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ------------------------------------------------ -->

<div class="card">
  <div>
    <p-tabView>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-sitemap mr-1"></i>
          <span>Ordres de Travaux</span>
          <!-- <p-badge class="ml-2" [value]="workOrders?.length"></p-badge> -->
        </ng-template>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div>
              <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                (click)=" openWorkOrderDialog()"></button>
              <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedWorkOrders()"
                [disabled]="!selectedWorkOrders|| !selectedWorkOrders?.length"></button>
            </div>
          </ng-template>
        </p-toolbar>
        <p-table #dt [value]="workOrders" responsiveLayout="scroll" [globalFilterFields]="['code']" [rows]="10"
          [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
          [(selection)]="selectedWorkOrders" selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Gestion des Ordres de Travaux</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText Item="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Recherche..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="code">
                <div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon>
                </div>
              <th pSortableColumn="orderDate">
                <div class="flex justify-content-center">Date d'Ordre<p-sortIcon field="orderDate"></p-sortIcon>
                </div>
              <th pSortableColumn="startDate">
                <div class="flex justify-content-center">Date de Début<p-sortIcon field="startDate"></p-sortIcon>
                </div>
              <th pSortableColumn="limit">
                <div class="flex justify-content-center">Délai<p-sortIcon field="limit"></p-sortIcon>
                </div>
              <th pSortableColumn="amount">
                <div class="flex justify-content-center">Montant<p-sortIcon field="amount"></p-sortIcon>
                </div>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-workOrder>
            <tr>
            <tr>
              <td style="width:2%; min-width:5rem;">
                <p-tableCheckbox [value]="workOrder"></p-tableCheckbox>
              </td>
              <td style="width:10%; min-width:10rem;">
                <span class="p-column-title">code</span>
                <div class="flex justify-content-center text-center">{{workOrder?.code}}</div>
              </td>
              <td style="width:15%; min-width:10rem;">
                <span class="p-column-title">orderDate</span>
                <div class="flex justify-content-center text-center">{{workOrder?.orderDate | date: 'dd/MM/yyyy'}}</div>
              </td>
              <td style="width:15%; min-width:10rem;">
                <span class="p-column-title">startDate</span>
                <div class="flex justify-content-center text-center">{{workOrder?.startDate | date: 'dd/MM/yyyy'}}</div>
              </td>
              <td style="width:10%; min-width:10rem;">
                <span class="p-column-title">limit</span>
                <div class="flex justify-content-center text-center">{{workOrder?.limit}}</div>
              </td>
              <td style="width:10%; min-width:10rem;">
                <span class="p-column-title">amount</span>
                <div class="flex justify-content-center text-center">{{workOrder?.amount}} {{this.market?.unit}}</div>
              </td>
              <td style="width:15%; min-width:10rem;">
                <div class="flex justify-content-center text-center">
                  <button (click)="openItems(workOrder)" pButton pRipple type="button" label="Articles"
                    icon="pi pi-shopping-cart" class="p-button-raised p-button-outlined p-button-plain"></button>
                </div>

              </td>
              <td style="width:10%; min-width:10rem;">
                <div class="flex justify-content-center text-center">
                  <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2"
                    (click)="editWorkOrder(workOrder)"></button>
                  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2"
                    (click)="deleteWorkOrder(workOrder)"></button>
                    <button (click)="generatePDF(workOrder)" pButton pRipple icon="pi pi-print" class="p-button-rounded p-button-success "></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <!-- empty table message-->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8" class="text-center">Aucun Ordre de Travail trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
      </p-tabPanel>
      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-clone mr-1"></i>
          <span>Articles</span>
          <!-- <p-badge class="ml-2" [value]="order?.itemsUsed?.length"></p-badge> -->
        </ng-template>

        <div>
          <p-dataView #dv [value]="order?.itemsUsed" [paginator]="true" [rows]="9" filterBy="item.name"
               layout="grid">
              <ng-template pTemplate="header">
                  <div class="flex flex-column md:flex-row md:justify-content-between">
                      <span class="p-input-icon-left mb-2 md:mb-0">
                          <i class="pi pi-search"></i>
                          <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                      </span>
                      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                  </div>
              </ng-template>
              <ng-template let-usedItem pTemplate="listItem">
                  <div class="col-12">
                      <div class="product-list-item">
                        <img src="../../../assets/layout/images/Circle-icons-tools.svg" alt="Image">
                        <div class="product-list-detail">
                              <div class="product-name">{{usedItem?.item?.name}}</div>
                              <div class="product-description">{{usedItem?.item?.code}}</div>
                              <div class="product-description">Quantité : {{usedItem?.quantity}}</div>
                              <i class="pi pi-tag product-category-icon"></i><span class="product-category">{{usedItem?.item?.item_class}}</span>
                          </div>
                          <div class="product-list-action">

                              <span class="product-price">{{marketUnit}} {{usedItem?.price}}</span>
                              <p-button icon="pi pi-external-link" (click)="goToMarket()" label="Edit"></p-button>
                          </div>
                      </div>
                  </div>
              </ng-template>
              <ng-template let-usedItem pTemplate="gridItem">
                  <div class="col-12 md:col-4">
                      <div class="product-grid-item card">
                          <div class="product-grid-item-top">
                              <div>
                                  <i class="pi pi-tag product-category-icon"></i>
                                  <span class="product-category">{{usedItem?.item?.item_class}}</span>
                              </div>
                              <p-chip [label]="usedItem?.quantity"></p-chip>
                          </div>
                          <div class="product-grid-item-content">
                              <img src="../../../assets/layout/images/Circle-icons-tools.svg" alt="Image">
                              <div class="product-name">{{usedItem?.item?.name}}</div>
                              <div class="product-description">{{usedItem?.item?.code}}</div>
                          </div>
                          <div class="product-grid-item-bottom">
                              <span class="product-price">{{marketUnit}} {{usedItem?.price}}</span>
                              <p-button icon="pi pi-external-link" (click)="goToMarket()"></p-button>
                          </div>
                      </div>
                  </div>
              </ng-template>
          </p-dataView>
      </div>

      </p-tabPanel>

      <p-tabPanel>
        <ng-template pTemplate="header">
          <i class="pi pi-chart-bar mr-1"></i>
          <span>Suivi des engagements par Article</span>
        </ng-template>
        <div>
          <p-table #stats [value]="items_dictionary| keyvalue" [exportHeader]="'customExportHeader'" responsiveLayout="scroll" [globalFilterFields]="['code']" [rows]="10"
          [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
          currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
          selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <!-- <div class="flex">
              <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
              <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
          </div> -->
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <!-- <h5 class="m-0">Articles</h5> -->
              <button type="button" label="Export" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
              <!-- <span class="block mt-2 md:mt-0 p-input-icon-left">
                <div class="mt-6 md:mt-5 ml-0 md:ml-8 flex align-items-center">
                  <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                    <div class="bg-teal-500 h-full" [ngStyle]="{width: progressBar() }"></div>
                  </div>
                  <span class="text-teal-500 ml-3 font-medium">{{progressBar()}}</span>
                </div>
              </span> -->
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pFrozenColumn>
                <div class="flex justify-content-center" style="min-width:150px">Code
                </div>
              </th>
              <th pFrozenColumn>
                <div class="flex justify-content-center" style="min-width:150px">Nom
                </div>
              </th>
              <th *ngFor="let ot of workOrders;let indexOfelement=index;">
                  <div class="flex justify-content-center" style="min-width:150px">OT {{indexOfelement + 1}}</div>
              </th>
              <th><div class="flex justify-content-center" style="min-width:150px">Total OTs</div></th>
              <th><div class="flex justify-content-center" style="min-width:150px">Ecart par article</div></th>
              <th pFrozenColumn><div class="flex justify-content-center" style="min-width:150px">Montant total des Ots engagés</div></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <ng-container *ngFor="let option of item.value| keyvalue" >

                <td pFrozenColumn [frozen]="option.key == 'A_code' || option.key == 'B_name'"><div class="flex justify-content-center text-center" style="min-width:150px" >
                  {{option.value}}
                </div></td>
               </ng-container>

            </tr>
          </ng-template>
          <!-- empty table message-->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center">Aucun Ordre de Travail trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>


<!----------------------work order details dialog-------------- -->

  <p-dialog [(visible)]="workOrderDialog" [style]="{width: '40%'}" header="Enregistrer Ordre de Travail" [modal]="true" class="p-fluid">
    <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
    <ng-template pTemplate="content">
      <form [formGroup]="workOrderForm">
        <!-- ---hidden--- -->
        <div class="field">
          <input Item="text" hidden pInputText id="id" formControlName="id" />
        </div>
        <!-- ---start date--- -->

        <div class="field">
          <label for="code">Code*</label>
          <input Item="text" pInputText id="code" placeholder="Code OT" formControlName="code" />
        </div>
        <div class="field">
            <label for="startDate">Date Début*</label>
            <p-calendar id="startDate" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="jj/MM/aaaa"
              formControlName="startDate"></p-calendar>
            <div *ngIf="(workOrderForm.get('startDate').invalid && workOrderForm.get('startDate').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="workOrderForm.get('startDate').hasError('startDate')">Date Début est
                obligatoire.</small>
            </div>
        </div>
        <div class="field">
          <label for="amount">Montant*</label>
          <p-inputNumber placeholder="Montant planifié" formControlName="amount" [showButtons]="true" buttonLayout="horizontal" inputId="amount"
                spinnerMode="horizontal" [step]="0.25" mode="currency" [currency]="market?.unit"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
              </p-inputNumber>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="limit">Délais*</label>
                <p-inputNumber inputId="limit" mode="decimal" [showButtons]="true"  [min]="0" suffix=" Jours" formControlName="limit"
                placeholder="Délais en Jour">
                </p-inputNumber>
            </div>
        </div>
      </form>
    </ng-template>

    <p-footer>
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
        (click)="workOrderDialog = false"></button>
      <button pButton pRipple label="Enregistrer" [disabled]="workOrderForm.invalid" icon="pi pi-check" class="p-button-text"
        (click)="saveWorkOrder()"></button>
    </p-footer>
  </p-dialog>

  <!----------------------edit work order details dialog-------------- -->

  <p-dialog [(visible)]="editWorkOrderDialog" [style]="{width: '40%'}" header="Enregistrer Ordre de Travail" [modal]="true" class="p-fluid">
    <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
    <ng-template pTemplate="content">
      <form [formGroup]="workOrderForm">
        <!-- ---hidden--- -->
        <div class="field">
          <input Item="text" hidden pInputText id="code" formControlName="id" />
        </div>

        <div class="field">
          <label for="code">Code*</label>
          <input Item="text" pInputText id="code" placeholder="Code OT" formControlName="code" />
        </div>
        <!-- ---start date--- -->

        <div class="field">
            <label for="startDate">Date Début*</label>
            <p-calendar id="startDate" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="jj/MM/aaaa"
              formControlName="startDate"></p-calendar>
            <div *ngIf="(workOrderForm.get('startDate').invalid && workOrderForm.get('startDate').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="workOrderForm.get('startDate').hasError('startDate')">Date Début est
                obligatoire.</small>
            </div>
        </div>
        <div class="field">
          <label for="amount">Montant*</label>
          <p-inputNumber placeholder="Montant planifié" formControlName="amount" [showButtons]="true" buttonLayout="horizontal" inputId="amount"
                spinnerMode="horizontal" [step]="0.25" mode="currency" [currency]="market?.unit"
                decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
              </p-inputNumber>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="limit">Délais*</label>
                <p-inputNumber inputId="limit" mode="decimal" [showButtons]="true"  [min]="0" suffix=" Jours" formControlName="limit"
                placeholder="Délais en Jour">
                </p-inputNumber>
            </div>
        </div>
      </form>
    </ng-template>

    <p-footer>
      <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
        (click)="editWorkOrderDialog = false"></button>
      <button pButton pRipple label="Enregistrer" [disabled]="workOrderForm.invalid" icon="pi pi-check" class="p-button-text"
        (click)="saveEditWorkOrder()"></button>
    </p-footer>
  </p-dialog>

<!-- ---------------------------article dialog--------------------------- -->

  <p-dialog [(visible)]="itemsDialog" header="Gestion des Articles" [modal]="true" [style]="{width:'50%'}">
    <ng-template pTemplate="content">
      <div>
        <p-table #dt1 [value]="defOrders" [paginator]="true" [rows]="5" responsiveLayout="scroll" [rowHover]="true"
          dataKey="id" editMode="row" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [showCurrentPageReport]="true"
          [globalFilterFields]="['item.name']">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              <p-button icon="pi pi-plus" styleClass="p-button-success" label="Ajouter Article"
                (click)="openAddItemsDialog()"></p-button>
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                  placeholder="Search..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>Code</th>
              <th pSortableColumn="name">Article <p-sortIcon field="name"></p-sortIcon>
              </th>
              <th pSortableColumn="price">PU<p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="quantity">Quantité <p-sortIcon field="quantity"></p-sortIcon>
              </th>

              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="item">
              <td></td>
              <td style="width: 5%; min-width: 5rem;">
                {{item?.item?.code}}
              </td>
              <td style="width: 40%; min-width: 7rem;">{{item?.item?.name}}</td>

              <td style="width: 30%; min-width: 7rem;">{{item?.price}} {{marketUnit}}</td>

              <td style="width: 30%; min-width: 7rem;">
                <p-cellEditor>
                  <ng-template pTemplate="input">
                      <p-inputNumber [(ngModel)]="item.quantity" inputId="quantity" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" placeholder="Quantité" required> </p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{item?.quantity}}
                  </ng-template>
              </p-cellEditor>
              </td>
              <td style="width: 25%;">

                <div class="flex align-items-center justify-content-center gap-2">
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(item)" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(item)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(item, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                  <button *ngIf="!editing" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
                  (click)="deleteDirectiveOrder(item)"></button>
                </div>

              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="2"></td>
                <td class="text-right">Total articles:</td>
                <td>{{ getItemsTotal() }} {{ marketUnit }}</td>
                <td colspan="2"  ></td>
            </tr>
        </ng-template>
          <!-- empty table message-->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">Aucun article trouvé.</td>
          </tr>
        </ng-template>
        </p-table>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <button pButton pRipple (click)="itemsDialog = false" icon="pi pi-check" class="p-button-text"
        label="Fermer"></button>
    </ng-template>
  </p-dialog>


  <!---------------------- *************add item dialog***********-------------- -->
<p-dialog [(visible)]="addItemsDialog" header="Sélectionner Articles" [modal]="true" [style]="{width:'70%'}">
  <ng-template pTemplate="content">
    <div>
      <div class="grid ">
        <div class="col-12">
          <p-dataView #dv [value]="order?.itemsUsed" [paginator]="true" [rows]="4" filterBy="item.name,item.code" [sortField]="sortField"
          [sortOrder]="sortOrder" layout="list">
            <ng-template pTemplate="header">
              <div class="flex flex-column md:flex-row md:justify-content-between">
                <span class="p-input-icon-left mb-2 md:mb-0">
                  <i class="pi pi-search"></i>
                  <input type="search" pInputText placeholder="Rechercher" (input)="dv.filter($event.target.value)">
                </span>
              </div>
            </ng-template>
            <ng-template let-item pTemplate="listItem">
              <div class="col-12">
                <div class="product-list-item">
                  <img src="../../../assets/layout/images/Circle-icons-tools.svg" alt="Image">
                  <div class="product-list-detail">
                    <div class="product-name">{{item?.item?.name}}</div>
                    <div class="product-description">{{item?.item?.code}}</div>
                    <div class="product-description"><i
                        class="pi pi-th-large product-category-icon"></i>{{item?.item?.item_class}}</div>

                    <i class="pi pi-tag product-category-icon"></i><span
                      class="product-category">{{item?.item?.type?.name}}</span>
                  </div>
                  <div class="product-list-action">
                    <p-button icon="pi pi-plus" styleClass="p-button-success" label="Ajouter"
                      (click)="op.toggle($event)"></p-button>
                  </div>
                </div>
              </div>
              <p-overlayPanel #op [showCloseIcon]="true" [dismissable]="true" [style]="{width: '30%'}"
                (onShow)="openOverlayPanel()">
                <ng-template pTemplate>
                  <form [formGroup]="definitiveItemForm">
                    <div class="formgroup-inline">
                      <div class="field">
                        <p-inputNumber formControlName="quantity" inputId="limit" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5" placeholder="Quantité" [showButtons]="true"> </p-inputNumber>
                      </div>
                      <button pButton pRipple type="button" icon="pi pi-check" label="OK"
                        class="p-button-primary mt-1" [disabled]="definitiveItemForm?.invalid"
                        (click)="submitItem(item?.item)"></button>
                    </div>
                  </form>
                </ng-template>
              </p-overlayPanel>
            </ng-template>

          </p-dataView>
        </div>

      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple (click)="addItemsDialog = false" icon="pi pi-check" class="p-button-text"
      label="Fermer"></button>
  </ng-template>
</p-dialog>

<!-- ---------------------------delete dialogs--------------------------- -->

  <p-dialog [(visible)]="deleteWorkOrderDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="workOrder">Supprimer <b>{{workOrder?.name}}</b>?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
        (click)="deleteWorkOrderDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDelete()"></button>
    </ng-template>
  </p-dialog>

  <p-dialog [(visible)]="deleteWorkOrdersDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span>Supprimer Sélection?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
        (click)="deleteWorkOrdersDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer"
        (click)="confirmDeleteSelected()"></button>
    </ng-template>
  </p-dialog>


  <p-dialog [(visible)]="deleteDefinitiveOrderDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
    <div class="flex align-items-center justify-content-center">
      <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
      <span *ngIf="workOrder">Supprimer Article ?</span>
    </div>
    <ng-template pTemplate="footer">
      <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
        (click)="deleteWorkOrderDialog = false"></button>
      <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDeleteDefOrder()"></button>
    </ng-template>
  </p-dialog>


