<p-toast></p-toast>

<div class="card">
  <div class="px-2 py-4 md:px-5 lg:px-5">
    <div
      class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
      <div class="mb-3 lg:mb-0">
        <div class="text-3xl font-medium text-900 mb-3">Comptes</div>
        <div class="text-500 mr-0 md:mr-3">Gestion des comptes et utilisateurs.</div>
      </div>
    </div>
  </div>

    <p-table #dt [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['firstName','lastName']" responsiveLayout="scroll"
       [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"  [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Recherche..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">

                </th>
                <th pSortableColumn="username"><div class="flex justify-content-center">Username<p-sortIcon field="username"></p-sortIcon></div></th>
                <th pSortableColumn="lastName"><div class="flex justify-content-center">Nom <p-sortIcon field="lastName"></p-sortIcon></div></th>
                <th pSortableColumn="firstName"><div class="flex justify-content-center">Prénom <p-sortIcon field="firstName"></p-sortIcon></div></th>
                <th pSortableColumn="email"><div class="flex justify-content-center">Email <p-sortIcon field="email"></p-sortIcon></div></th>
                <th pSortableColumn="organization"><div class="flex justify-content-center">Organisation <p-sortIcon field="organization"></p-sortIcon></div></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
              <td style="width: 5%; min-width: 5rem;">
                <img src="../../../assets/layout/images/account-icon.svg" alt="Image"  width="30">
              </td>
                <td style="width: 10%; min-width: 7rem;">
                  <div class="flex justify-content-center">
                    {{user?.username}}
                  </div>
                </td>
                <td style="width: 20%; min-width: 7rem;">
                  <div class="flex justify-content-center">
                    {{user?.lastName}}
                  </div>
                  </td>
                <td style="width: 20%; min-width: 7rem;">
                  <div class="flex justify-content-center">
                    {{user?.firstName}}
                  </div></td>
                <td style="width: 20%; min-width: 7rem;">
                  <div class="flex justify-content-center">
                    {{user?.email}}
                  </div></td>
                <td style="width: 20%; min-width: 7rem;">
                  <div class="flex justify-content-center">
                    {{user?.organization?.name}}
                  </div></td>
                <td style="width:5%; min-width:10rem;">
                  <div class="flex justify-content-end flex-wrap">
                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help mr-2"
                      (click)="viewUser(user)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                      (click)="openDeleteDialog(user)"></button>
                  </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="userDialog" [style]="{width: '70%'}" header="Ajouter un Utilisateur" [modal]="true"
      class="p-fluid">
      <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
      <ng-template pTemplate="content">
        <form [formGroup]="myForm">
          <!-- ---hidden--- -->
          <div class="field">
            <input type="text" hidden pInputText id="code" formControlName="id" />
          </div>
          <h5>Détails Personnelles</h5>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-3">
              <label for="lastname">Nom*</label>
              <input id="lastname" pInputText placeholder="Nom de famille" type="text" formControlName="lastName"
                required autofocus />
              <div *ngIf="(myForm.get('lastName').invalid && myForm.get('lastName').dirty)">
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('lastName').hasError('required')">Nom est
                  obligatoire.</small>
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('lastName').hasError('pattern')">Nom
                  invalide.</small>
              </div>
            </div>
            <div class="field col-12 md:col-3">
              <label for="firstname">Prénom*</label>
              <input id="firstname" pInputText type="text" placeholder="Prénom" formControlName="firstName" required />
              <div *ngIf="(myForm.get('firstName').invalid && myForm.get('firstName').dirty)">
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('firstName').hasError('required')">Prénom est
                  obligatoire.</small>
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('firstName').hasError('pattern')">Prénom
                  invalide.</small>
              </div>
            </div>
            <div class="field col-12 md:col-3">
              <label for="dob">Sexe*</label>
              <p-dropdown id="gender" appendTo="body" [options]="genders" placeholder="Séléctionner" formControlName="gender"></p-dropdown>
                  <div *ngIf="(myForm.get('gender').invalid && myForm.get('gender').dirty)">
                    <small *ngIf="myForm.get('gender').hasError('required')">Champ obligatoire.</small>
                  </div>
            </div>
            <div class="field col-12 md:col-3">
              <label for="dob">Date de Naissance*</label>
              <p-calendar id="dob" appendTo="body" [showIcon]="true" dateFormat="dd/mm/yy" [showButtonBar]="true" placeholder="jj/MM/aaaa"
                formControlName="dob"></p-calendar>
              <div *ngIf="(myForm.get('dob').invalid && myForm.get('dob').dirty)">
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('dob').hasError('required')">Age est
                  obligatoire.</small>
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('dob').hasError('ageRange')">Age au moins 18
                  ans.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="email">E-Mail*</label>
              <input pInputText id="email" type="email" placeholder="E-mail" formControlName="email" />
              <div *ngIf="(myForm.get('email').invalid && myForm.get('email').dirty)">
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('required')">Email est
                  obligatoire.</small>
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('email').hasError('email')">Format
                  incorrect.</small>
              </div>
            </div>
            <div class="field col-12 md:col-4">
                <label for="phone">Numéro de Téléphone*</label>
                <input pInputText id="phone" type="text" placeholder="Numéro de Téléphone" formControlName="phone" />
                <div *ngIf="(myForm.get('phone').invalid && myForm.get('phone').dirty)">
                  <small class="ng-dirty ng-invalid" *ngIf="myForm.get('phone').hasError('required')">Numéro est
                    obligatoire.</small>
                  <small class="ng-dirty ng-invalid" *ngIf="myForm.get('phone').hasError('pattern')">Format
                    incorrect.</small>
                </div>
            </div>
            <div class="field col-12 md:col-4">
              <label for="address">Adresse*</label>
              <input pInputText id="address" type="text" placeholder="Adresse" formControlName="address" />
          </div>

          </div>
        <div [hidden]="isAdmin">
          <h5>Organisation</h5>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-12">
              <p-accordion>
                <p-accordionTab header="Selectionner une Organisation"  class="line-height-3 m-0">
                  <p-table #dt1 [value]="organizations" [scrollable]="true" scrollHeight="270px" selectionMode="single"
                  [rows]="3" [paginator]="true" [rowsPerPageOptions]="[3,5,10]" [(selection)]="selectedOrganization">
                    <ng-template  responsiveLayout="scroll" pTemplate="header">
                        <tr>
                            <th pSortableColumn="code">Code<p-sortIcon field="code"></p-sortIcon></th>
                            <th pSortableColumn="name">Nom<p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="sector">Secteur d'activité<p-sortIcon field="sector"></p-sortIcon></th>
                        </tr>
                        <tr>
                          <th>
                              <input pInputText type="text" (input)="dt1.filter($event.target.value, 'code', 'contains')" [value]="dt1.filters['code']?.value" placeholder="rechercher par code" class="p-column-filter">
                          </th>
                          <th>
                              <input pInputText type="text" (input)="dt1.filter($event.target.value, 'name', 'contains')" [value]="dt1.filters['name']?.value" placeholder="rechercher par nom" class="p-column-filter">
                          </th>
                          <th>
                              <input pInputText type="text" (input)="dt1.filter($event.target.value, 'sector.name', 'contains')" [value]="dt1.filters['sector.name']?.value" placeholder="rechercher par secteur" class="p-column-filter">
                          </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-organization>
                        <tr [pSelectableRow]="organization" (click)="userSelected()">
                            <td><i class="pi pi-building mr-4 " style="font-size: 1rem" ></i><span class="p-column-title">code</span>{{organization?.code }}</td>
                            <td><span class="p-column-title">Nom</span>{{organization?.name}}</td>
                            <td><span class="p-column-title">Secteur d'activité</span>{{organization?.sector?.name}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="4">Aucune donnée disponible.</td>
                      </tr>
                  </ng-template>
                </p-table>
                </p-accordionTab>
            </p-accordion>
            </div>
          </div>
        </div>

          <h5>Sécurité et Confidentialité</h5>
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
              <label for="username">Nom d'utilisateur*</label>
              <input id="username" pInputText type="text" placeholder="Choisir un Username"
                formControlName="username" />
              <div *ngIf="(myForm.get('username').invalid && myForm.get('username').dirty)">
                <small class="ng-dirty ng-invalid" *ngIf="myForm.get('username').hasError('required')">Nom d'utilisateur
                  est obligatoire.</small>
              </div>
              <div *ngIf="myForm.errors?.['usernameTaken']">
                <small class="ng-dirty ng-invalid">Nom d'utilisateur déjà utilisé.</small>
              </div>
            </div>
            <div class="field col-12 md:col-6">
              <label for="role">Role*</label>
              <p-dropdown appendTo="body" [options]="roles" placeholder="Sélectionner Métier" optionLabel="name"
              [showClear]="true" [filter]="true"
              filterBy="name" formControlName="roles">
            </p-dropdown>
              <!-- <p-dropdown appendTo="body" [options]="roles" formControlName="roles" defaultLabel="Choisir les Roles" optionLabel="name">
                <ng-template let-value pTemplate="selectedItems">
                    <div class=" role-item-value" *ngFor="let option of this.myForm.value.roles">
                        <div>{{option.name}}</div>
                    </div>
                    <div *ngIf="!this.myForm.value.roles || this.myForm.value.roles.length === 0" >
                      Choisir les Roles
                    </div>
                </ng-template>
                <ng-template let-role pTemplate="item">
                    <div >
                        <div>{{role.name}}</div>
                    </div>
                </ng-template>
            </p-dropdown> -->

            </div>

            <div [hidden]="isEdit" class="field col-12 md:col-6">
              <label for="password1">Mot de Passe*</label>
              <p-password [feedback]="false" id="password1" placeholder="Mot de Passe" [toggleMask]="true"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" formControlName="password">
              </p-password>
            </div>
            <div [hidden]="isEdit" class="field col-12 md:col-6">
              <label for="password2">Confirmation de Mot de Passe*</label>
              <p-password [feedback]="false" id="password2" placeholder="Mot de Passe" formControlName="confirmPassword"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right" [toggleMask]="true"></p-password>
              <div *ngIf="myForm.errors?.['notmatched'] && (myForm.touched || myForm.dirty)">
                <small class="ng-dirty ng-invalid">Mot de passe ne correspond pas.</small>
              </div>
            </div>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
          (click)="userDialog = false"></button>
        <button pButton pRipple label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveUser()"
          ></button>
          <!-- [disabled]="myForm.invalid || pwdForm.invalid" -->
      </ng-template>
    </p-dialog>



<p-dialog [(visible)]="deleteUserDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span>Supprimer Utilisateur ?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
      (click)="deleteUserDialog = false"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>
