<div class="grid">
  <div class="col-12">
    <div class="card">
      <p-toast></p-toast>

      <div class="px-2 py-4 md:px-5 lg:px-5">
        <div
          class="flex md:align-items-center md:justify-content-between flex-column md:flex-row pb-4 border-bottom-1 surface-border">
          <div class="mb-3 lg:mb-0">
            <div class="text-3xl font-medium text-900 mb-3">Marchés</div>
            <div class="text-500 mr-0 md:mr-3">Consulter et gérer les marchés projets et cadres.</div>
          </div>
        </div>
      </div>

      <p-tabView>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button [disabled]="isResponsable|| isChefProjet" pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2"
                (click)="openNew()"></button>
              <button pButton pRipple label="Supprimer" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedMarkets()" [disabled]="!selectedMarkets || !selectedMarkets.length || isResponsable|| isChefProjet"></button>
            </div>
          </ng-template>
        </p-toolbar>
        <p-tabPanel header="Projet">
          <ng-template pTemplate="header">
            <i class="pi pi-briefcase mr-2"></i>
            <span>Marchés Projets</span>
          </ng-template>
          <p-table #dt [value]="mp" [columns]="cols" responsiveLayout="scroll"
        [globalFilterFields]="['name']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
        [showCurrentPageReport]="true" currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
        [(selection)]="selectedMarkets" selectionMode="multiple" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">Gestion des Marchés Projets</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                placeholder="Recherche..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th >
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="code"><div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon></div>
            </th>
            <th pSortableColumn="name"><div class="flex justify-content-center">Désignation<p-sortIcon field="name"></p-sortIcon></div>
            </th>
            <th pSortableColumn="profession"><div class="flex justify-content-center">Métier<p-sortIcon field="profession"></p-sortIcon></div>
            </th>
            <th pSortableColumn="organization"><div class="flex justify-content-center">Organization<p-sortIcon field="organization"></p-sortIcon></div>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-market>
          <tr>
            <td style="width:10%; min-width:10rem;">
              <p-tableCheckbox [value]="market"></p-tableCheckbox>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Code</span>
              <div class="flex justify-content-center">{{market?.code}}</div>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Désignation</span>
              <div class="flex justify-content-center">{{market?.name}}</div>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Métier</span>
              <div class="flex justify-content-center">{{market?.profession?.name}}</div>
            </td>
            <td style="width:20%; min-width:10rem;">
              <span class="p-column-title">Organisation</span>
              <div class="flex justify-content-center">{{market?.organization?.name}}</div>
            </td>
            <td style="width:10%; min-width:10rem;">
              <div class="flex justify-content-center">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                  (click)="viewMarket(market)"></button>
                <button [disabled]="isResponsable || isChefProjet" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteMarket(market) "></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <!-- empty table message-->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">Aucun marché trouvé.</td>
          </tr>
        </ng-template>
      </p-table>
        </p-tabPanel>
        <p-tabPanel header="Cadre">
          <ng-template pTemplate="header">
            <i class="pi pi-book mr-2"></i>
            <span>Marchés Cadres</span>
          </ng-template>
          <p-table #dt [value]="mc" [columns]="cols" responsiveLayout="scroll"
          [globalFilterFields]="['name']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
          [showCurrentPageReport]="true" currentPageReportTemplate="Affichage {first} à {last} de {totalRecords} entrées"
          [(selection)]="selectedMarkets" selectionMode="multiple" [rowHover]="true" dataKey="id">
          <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
              <h5 class="m-0">Gestion des Marchés Cadres</h5>
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Recherche..." />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th >
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th pSortableColumn="code"><div class="flex justify-content-center">Code<p-sortIcon field="code"></p-sortIcon></div>
              </th>
              <th pSortableColumn="name"><div class="flex justify-content-center">Désignation<p-sortIcon field="name"></p-sortIcon></div>
              </th>
              <th pSortableColumn="profession"><div class="flex justify-content-center">Métier<p-sortIcon field="profession"></p-sortIcon></div>
              </th>
              <th pSortableColumn="organization"><div class="flex justify-content-center">Organization<p-sortIcon field="organization"></p-sortIcon></div>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-market>
            <tr>
              <td style="width:10%; min-width:10rem;">
                <p-tableCheckbox [value]="market"></p-tableCheckbox>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">Code</span>
                <div class="flex justify-content-center">{{market?.code}}</div>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">Désignation</span>
                <div class="flex justify-content-center">{{market?.name}}</div>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">Métier</span>
                <div class="flex justify-content-center">{{market?.profession?.name}}</div>
              </td>
              <td style="width:20%; min-width:10rem;">
                <span class="p-column-title">Organisation</span>
                <div class="flex justify-content-center">{{market?.organization?.name}}</div>
              </td>
              <td style="width:10%; min-width:10rem;">
                <div class="flex justify-content-center">
                  <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                    (click)="viewMarket(market)"></button>
                  <button [disabled]="isResponsable || isChefProjet" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    (click)="deleteMarket(market)"></button>
                </div>
              </td>
            </tr>
          </ng-template>
          <!-- empty table message-->
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6" class="text-center">Aucun marché trouvé.</td>
            </tr>
          </ng-template>
        </p-table>
        </p-tabPanel>
    </p-tabView>

    </div>

<!-- --------------------------------------------dialog------------------------------------------>

    <p-dialog [(visible)]="marketDialog" [style]="{width: '60%'}" header="Ajouter Un Marché" [modal]="true" class="p-fluid">
      <div class="flex align-items-center justify-content-between mb-3">
        <div class="text-500 mb-4">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div>
        <p-chip [label]="currentUser?.organization?.name" styleClass="mr-2 custom-chip"></p-chip>
        <!-- <button  pButton pRipple icon="pi pi-pencil" class="p-button-text" (click)="openEditMarket()" pTooltip="Modifier Marché" tooltipPosition="left"></button> -->
      </div>
      <!-- <div class="text-500 mb-5">Veuillez remplir tous les champs obligatoires marqués par un astérisque (*).</div> -->
      <ng-template pTemplate="content">

        <form [formGroup]="myForm">
          <!-- ---hidden--- -->
          <div class="field">
            <input type="text" hidden pInputText id="code" formControlName="id" />
          </div>

           <div class="grid">
            <div class="col-6">
                <label for="sector">Secteur d'Activité*</label>
                <div class="mt-2">
                  <p-dropdown appendTo="body" placeholder="Sélectionner Secteur d'Activité" inputId="sector" [autoDisplayFirst]="false" (onChange)="onSectorSelect()" [filter]="true" filterBy="name" [showClear]="true" [options]="sectors" formControlName="selectedSector" optionLabel="name"></p-dropdown>
                </div>
            </div>
            <div class="col-6">
              <label class="mb-2" for="profession">Métier*</label>
              <div class="mt-2">
                <p-dropdown appendTo="body" placeholder="Sélectionner Métier" inputId="profession" [autoDisplayFirst]="false" [filter]="true" filterBy="name" [showClear]="true" [options]="professions" formControlName="profession" optionLabel="name"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="field">
            <label for="name">Nom*</label>
            <input type="text" id="name" pInputText formControlName="name" required placeholder="Saisir Nom de Marché">
            <div *ngIf="(myForm.get('name').invalid && myForm.get('name').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('required')">
                Nom est obligatoire.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('name').hasError('pattern')">
                Nom invalide.
              </small>
            </div>
          </div>

          <div class="field">
            <label for="code">Code*</label>
            <input type="text" id="code" pInputText formControlName="code" required placeholder="Saisir Code Unique de Marché">
            <div *ngIf="(myForm.get('code').invalid && myForm.get('code').dirty)">
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('required')">
                Code est obligatoire.
              </small>
              <small class="ng-dirty ng-invalid" *ngIf="myForm.get('code').hasError('pattern')">
                Code invalide.
              </small>
            </div>
          </div>

        <div class="grid mt-3">
          <div class="col-2">
            <label class="col-12 mb-2 md:col-2 md:mb-0" for="class">Budget*</label>
          </div>
          <div class="col-4">
            <div *ngFor="let budget of budget_options" class="field-checkbox">
              <p-radioButton [inputId]="budget" name="budget" [value]="budget" formControlName="budget"></p-radioButton>
              <label [for]="budget">{{budget}}</label>
            </div>
          </div>
          <div class="col-2">
            <label class="col-12 mb-2 md:col-2 md:mb-0" for="class">Type*</label>
          </div>
          <div class="col-4">
            <div *ngFor="let type of type_options" class="field-checkbox">
              <p-radioButton [inputId]="type" name="type" [value]="type" formControlName="type"></p-radioButton>
              <label [for]="type">{{type}}</label>
            </div>
          </div>
        </div>
          <div class="field">
              <label for="currency">Devise</label>
              <p-dropdown (onChange)="onChangerCurrency()" [options]="currency_options" appendTo="body" formControlName="unit">

              </p-dropdown>
          </div>
          <div class="grid">
            <div class="col-6">
              <label for="horizontal">Montant*</label>
              <div class="mt-2">
                <p-inputNumber formControlName="amount" [showButtons]="true" buttonLayout="horizontal" inputId="amount"
                    spinnerMode="horizontal" [step]="0.25" mode="currency" [currency]="selectedUnit" placeholder="Saisir Montant"
                  decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus">
                  </p-inputNumber>
              </div>
            </div>
            <div class="col-6">
              <label for="horizontal">Délais*</label>
              <div class="mt-2">

                <p-inputNumber placeholder="Saisir Délais" inputId="limit" mode="decimal" [showButtons]="true"  [min]="0" suffix=" Jours" formControlName="limit">
                </p-inputNumber>
              </div>
            </div>
          </div>

        </form>
      </ng-template>

      <p-footer>
        <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Enregistrer" [disabled]="myForm.invalid" icon="pi pi-check" class="p-button-text"
          (click)="saveMarket()"></button>
      </p-footer>
    </p-dialog>

    <p-dialog [(visible)]="deleteMarketDialog" header="Confirm" [modal]="true" [style]="{width:'30%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="market">Supprimer <b>{{market.name}}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
          (click)="deleteMarketDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer" (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteMarketsDialog" header="Confirmer" [modal]="true" [style]="{width:'30%'}">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Supprimer Sélection?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Annuler"
          (click)="deleteMarketsDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Supprimer"
          (click)="confirmDeleteSelected()"></button>
      </ng-template>
    </p-dialog>

  </div>
</div>

