/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/sass/layout/_variables";
@import "assets/sass/layout/_layout";
@import "assets/sass/overrides/_overrides";

small{
  color: red;
}


.product-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-instock {
      background: #C8E6C9;
      color: #256029;
  }

  &.status-outofstock {
      background: #FFCDD2;
      color: #C63737;
  }

  &.status-lowstock {
      background: #FEEDAF;
      color: #8A5340;
  }
}

.customer-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-qualified {
      background: #C8E6C9;
      color: #256029;
  }

  &.status-unqualified {
      background: #FFCDD2;
      color: #C63737;
  }

  &.status-negotiation {
      background: #FEEDAF;
      color: #8A5340;
  }

  &.status-new {
      background: #B3E5FC;
      color: #23547B;
  }

  &.status-renewal {
      background: #ECCFFF;
      color: #694382;
  }

  &.status-proposal {
      background: #FFD8B2;
      color: #805B36;
  }
}

.order-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.order-delivered {
      background: #C8E6C9;
      color: #256029;
  }

  &.order-cancelled {
      background: #FFCDD2;
      color: #C63737;
  }

  &.order-pending {
      background: #FEEDAF;
      color: #8A5340;
  }

  &.order-returned {
      background: #ECCFFF;
      color: #694382;
  }
}
